.content-body {
    margin-left: 0px;
}

.card {
    height: unset;
}

.card-header {
    padding: 1rem;
}

.card-title {
    color: #f38950;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.resultcards {
    cursor: pointer;
    transition: background-color 0.3s;
}

.resultcards:hover {
    background-color: #f9f9f9;
}

.resultcards.selected {
    border: 2px solid #ffa677;
}

.animedetails {
    padding-left: 10px;
    padding-top: 10px;
}

.episode-text {
    color: #ff5252;
    margin-bottom: 0.25rem;
}

.time-text {
    color: #00b300;
    margin-bottom: 0.25rem;
}

.similarity-text {
    font-weight: bold;
}