<div class="content-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Trace back the scene from an anime screenshot</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form #fileForm>
                                <div class="input-group mb-3 drop-zone" (dragover)="onDragOver($event)"
                                    (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
                                    (click)="fileInput.click()">
                                    <input #fileInput type="file" id="file-input" required accept=".jpg,.jpeg,.png,.gif"
                                        (change)="onFileChange($event)" aria-describedby="file-help-text" hidden />
                                    <p>Drag & drop your image here or click to select a file.</p>
                                </div>
                                <div id="file-help-text" class="form-text">
                                    Please upload a valid image file (PNG, JPG, JPEG, GIF).
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="full-page-overlay">
    <img src="assets/img/loading.gif" alt="Loading..." class="loading-gif" />
    <p class="loading-text">Loading, please wait...</p>
</div>