.content-body {
    margin: 0px;
    min-height: 100vh;
}

.drop-zone {
    border: 2px dashed #ffa677;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.drop-zone:hover {
    background-color: #ffa7772d;
}

.drop-zone.dragging {
    background-color: #e0e0e0;
}

.drop-zone p {
    margin: 0;
}

.full-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-gif {
    width: 150px;
    height: 150px;
}

.loading-text {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}